<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict/>
	<key>colors</key>
	<dict>
		<key>secondary</key>
		<string>FF00FF</string>
		<key>primary</key>
		<string>444444</string>
	</dict>
</dict>
</plist>
